name: Test Pipeline

on: [push]

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run test step
        run: echo "This is another pipeline running!"
